<style>
  #apply-box h4 {
     width: 100%;
     border-bottom: 1px solid #000;
     line-height: 0.1em;
     margin: 30px 0;
  }

  #apply-box h4 span {
      background:#fff;
      padding: 0 10px 0 0;
  }

  h6 {
    line-height: 1.5;
  }
  .apply-list-title h6 {
    overflow: hidden;
    text-align: left;
  }
  .apply-list-title h6:before,
  .apply-list-title h6:after {
      background-color: #000;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 100%;
  }
  .apply-list-title h6:before {
      right: 0.5em;
      margin-left: -100%;
  }
  .apply-list-title h6:after {
      left: 0.5em;
      margin-right: -100%;
  }

</style>

<div id="apply-box" class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" style="padding-bottom: 10px;">
      <br>
      <h4><span>신청 방법</span></h4>
    </div>
  </div>
  <div class="panel panel-primary col-md-10 col-md-offset-1" style="padding: 20px;">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-4 col-md-offset-1 detail-list-title">
        <h6><span>Step 1</span></h6>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-6">
        <h6><span><a style="color: #333333;" target="_blank" href="https://docs.google.com/forms/d/1ICRSk5aZIs5LJwr-FpTy0gJjF6Y7AH9C3mjKWJLfaXA">참가 신청하기</a></span></h6>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-4 col-md-offset-1 detail-list-title">
        <h6><span>Step 2</span></h6>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-6">
        <h6><span>우리은행 1002-752-739066 최석원 35만원 입금</span></h6>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-4 col-md-offset-1 detail-list-title">
        <h6><span>Step 3</span></h6>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-6">
        <h6><span><a style="color: #333333;" href="mailto:swchoi06@wafflestudio.com">swchoi06@wafflestudio.com</a>로 확인 메일 보내기 (제목 : [얼리버드] 스터디 신청 확인)</span></h6>
      </div>
    </div>
  </div>
</div>
