<style>
  #apply-box h4 {
     width: 100%;
     border-bottom: 1px solid #000;
     line-height: 0.1em;
     margin: 30px 0;
  }

  #apply-box h4 span {
      background:#fff;
      padding: 0 10px 0 0;
  }

  h6 {
    line-height: 1.5;
  }
  .apply-list-title h6 {
    overflow: hidden;
    text-align: left;
  }
  .apply-list-title h6:before,
  .apply-list-title h6:after {
      background-color: #000;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 100%;
  }
  .apply-list-title h6:before {
      right: 0.5em;
      margin-left: -100%;
  }
  .apply-list-title h6:after {
      left: 0.5em;
      margin-right: -100%;
  }

</style>

<div id="apply-box" class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" style="padding-bottom: 10px;">
      <br>
      <a style="padding: 20px;" class="btn btn-group-justified btn-info" href="#">수강 신청하기</a>
    </div>
  </div>
</div>
