<style>
  #curriculum-box h4 {
     width: 100%;
     border-bottom: 1px solid #000;
     line-height: 0.1em;
     margin: 30px 0;
  }

  #curriculum-box h4 span {
      background:#fff;
      padding: 10px;
  }

</style>

<div id="curriculum-box" class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4><span>커리큘럼</span></h4>
      <table class="table table-bordered table-responsive">
        <tbody>
          <tr>
            <td class="bg-primary" colspan="2">Part 1. Statistics</td>
          </tr>
          <tr>
            <td>Probability Distributions</td>
            <td>
              <p>- 이산 확률분포, 연속 확률분포</p>
              <p>- 정규 분포, 베르누이 분포, 푸아송 분포, 카이 분포</p>
            </td>
          </tr>
          <tr>
            <td>Statistic Inference</td>
            <td>
              <p>- 신뢰구간, P-Value</p>
              <p>- 유의성 검정</p>
            </td>
          </tr>

          <tr>
            <td class="bg-primary" colspan="2">Part 2. Python Programming</td>
          </tr>
          <tr>
            <td>Conditional Statements</td>
            <td>
              <p>- if, elif, else (조건문)</p>
            </td>
          </tr>
          <tr>
            <td>Loop Statements</td>
            <td>
              <p>- for, while (반복문)</p>
            </td>
          </tr>
          <tr>
            <td>Types</td>
            <td>
              <p>- Pair, List, Dictionary, Boolean, etc</p>
            </td>
          </tr>

          <tr>
            <td class="bg-primary" colspan="2">Part 3. Data Analytics with Python</td>
          </tr>
          <tr>
            <td>Scrapy</td>
            <td>
              <p>- 파이썬 웹 크롤러</p>
            </td>
          </tr>
          <tr>
            <td>Pandas</td>
            <td>
              <p>- 데이터 분석 라이브러리</p>
            </td>
          </tr>
          <tr>
            <td>Data Visualization</td>
            <td>
              <p>- 그래프, 차트, 데이터 전처리 등</p>
            </td>
          </tr>

          <tr>
            <td class="bg-primary" colspan="2">Part 4. Introduction to Deep Learning</td>
          </tr>
          <tr>
            <td>Deep Learning</td>
            <td>
              <p>- CNN, RNN</p>
            </td>
          </tr>

          <tr>
            <td class="bg-primary" colspan="2">Part 5. Term Project</td>
          </tr>
          <tr>
            <td>Project</td>
            <td>
              <p>- 팀 구성 및 주제 선정</p>
              <p>- 프로젝트 발표회</p>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</div>
