<style>
  #project-box h4 {
    width: 100%;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 30px 0;
  }

  #project-box h4 span {
    background:#fff;
    padding: 10px;
  }

  #project-box .btn-group button {
    width: 100px;
  }
</style>

<div id="project-box" class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4><span>프로젝트 결과물</span></h4>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <div class="btn-group">
        <button id="ss-btn-1" type="button" class="btn btn-basic">1번</button>
        <button id="ss-btn-2" type="button" class="btn btn-basic">2번</button>
        <button id="ss-btn-3" type="button" class="btn btn-basic">3번</button>
      </div>
      <div id="slideshare">
        <iframe id="ss-1" src="//www.slideshare.net/slideshow/embed_code/key/sK6LMKPbOEJMep" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
        <iframe id="ss-2" class="sr-only" src="//www.slideshare.net/slideshow/embed_code/key/NoQtYpLL9U1crN" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
        <iframe id="ss-3" class="sr-only" src="//www.slideshare.net/slideshow/embed_code/key/nzhqvTznlYYWtc" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      $("#ss-btn-1").click(function(){
          $("iframe#ss-1").removeClass("sr-only");
          $("iframe#ss-2").addClass("sr-only");
          $("iframe#ss-3").addClass("sr-only");
      });
      $("#ss-btn-2").click(function(){
          $("iframe#ss-1").addClass("sr-only");
          $("iframe#ss-2").removeClass("sr-only");
          $("iframe#ss-3").addClass("sr-only");
      });
      $("#ss-btn-3").click(function(){
          $("iframe#ss-1").addClass("sr-only");
          $("iframe#ss-2").addClass("sr-only");
          $("iframe#ss-3").removeClass("sr-only");
      });
  });
</script>
