<style>
  #req-box h4 {
     width: 100%;
     border-bottom: 1px solid #000;
     line-height: 0.1em;
     margin: 30px 0;
  }

  #req-box h4 span {
      background:#fff;
      padding: 10px;
  }

</style>

<div id="req-box" class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4><span>이런 사람을 찾습니다</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-body">얼리버드 학습 공동체에 공감하는 사람</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-body">데이터 사이언스를 배우고 싶은 입문자</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-body">영어로 구성된 온라인 강의를 소화할 수 있는 사람</div>
      </div>
    </div>
  </div>
  <br>
</div>
