{% load staticfiles %}
<style>
  #review-box h4 {
     width: 100%;
     border-bottom: 1px solid #000;
     line-height: 0.1em;
     margin: 30px 0;
  }

  #review-box h4 span {
      background:#fff;
      padding: 10px;
  }

  #review-box .thumbnail .img-responsive {
    padding-top: 20px;
    width:50%;
    height: auto;
  }
</style>
<div id="review-box" class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4><span>1기 수강생들이 말하는 얼리버드 스터디</span></h4>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="thumbnail">
        <img class="img-responsive" src="{% static 'img/thumb_img1.png' %}" alt="" >
        <div class="caption">
          <br>
          <p>"얼리버드는 문과생이면서 아무것도 모르는 나에게 데이터 사이언스의 길을 안내해준 곳이다. 항상 관심은 있었지만 쉽게 문을 두드릴 수 없는 분야에 한 발짝 들여놓을 수 있었다는 것은 정말 대단한 발전이다.
이전에 데이터 사이언스 관련 지식이라고는 학교에서 들은 통계학 밖에 없었지만 지금은 하나도 못하던 파이썬 프로그램을 만들 수 있고 그것으로 내가 필요한 데이터를 다룰 수 있다. 아직도 부족한 점은 많지만 필요하다면 언제든지 공부할 수 있는 기본기를 가지게 되었다. 또한 내가 아는 것과 알지 못하는 것을 구분하게 되었다."
</p>
          <p>-서울대학교 자유전공학부 박종민</p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="thumbnail">
        <img class="img-responsive" src="{% static 'img/thumb_img2.png' %}" alt="">
        <div class="caption">
          <br>
          <p>"얼리버드는 문과생이면서 아무것도 모르는 나에게 데이터 사이언스의 길을 안내해준 곳이다. 항상 관심은 있었지만 쉽게 문을 두드릴 수 없는 분야에 한 발짝 들여놓을 수 있었다는 것은 정말 대단한 발전이다.
이전에 데이터 사이언스 관련 지식이라고는 학교에서 들은 통계학 밖에 없었지만 지금은 하나도 못하던 파이썬 프로그램을 만들 수 있고 그것으로 내가 필요한 데이터를 다룰 수 있다. 아직도 부족한 점은 많지만 필요하다면 언제든지 공부할 수 있는 기본기를 가지게 되었다. 또한 내가 아는 것과 알지 못하는 것을 구분하게 되었다."
</p>
          <p>-서울대학교 자유전공학부 박종민</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="thumbnail">
        <img class="img-responsive" src="{% static 'img/thumb_img3.png' %}" alt="">
        <div class="caption">
          <br>
          <p>"얼리버드는 문과생이면서 아무것도 모르는 나에게 데이터 사이언스의 길을 안내해준 곳이다. 항상 관심은 있었지만 쉽게 문을 두드릴 수 없는 분야에 한 발짝 들여놓을 수 있었다는 것은 정말 대단한 발전이다.
이전에 데이터 사이언스 관련 지식이라고는 학교에서 들은 통계학 밖에 없었지만 지금은 하나도 못하던 파이썬 프로그램을 만들 수 있고 그것으로 내가 필요한 데이터를 다룰 수 있다. 아직도 부족한 점은 많지만 필요하다면 언제든지 공부할 수 있는 기본기를 가지게 되었다. 또한 내가 아는 것과 알지 못하는 것을 구분하게 되었다."
</p>
          <p>-서울대학교 자유전공학부 박종민</p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="thumbnail">
        <img class="img-responsive" src="{% static 'img/thumb_img3.png' %}" alt="">
        <div class="caption">
          <br>
          <p>"얼리버드는 문과생이면서 아무것도 모르는 나에게 데이터 사이언스의 길을 안내해준 곳이다. 항상 관심은 있었지만 쉽게 문을 두드릴 수 없는 분야에 한 발짝 들여놓을 수 있었다는 것은 정말 대단한 발전이다.
이전에 데이터 사이언스 관련 지식이라고는 학교에서 들은 통계학 밖에 없었지만 지금은 하나도 못하던 파이썬 프로그램을 만들 수 있고 그것으로 내가 필요한 데이터를 다룰 수 있다. 아직도 부족한 점은 많지만 필요하다면 언제든지 공부할 수 있는 기본기를 가지게 되었다. 또한 내가 아는 것과 알지 못하는 것을 구분하게 되었다."
</p>
          <p>-서울대학교 자유전공학부 박종민</p>
        </div>
      </div>
    </div>
  </div>
</div>
