{% load staticfiles %}

<style>
  #title-box, #title-box a {
    line-height: 1.5;
    padding: 0 0 3rem 0;
    color: white;
  }

  #title-box #title {
    padding: 50px 0 50px 0;
    font-weight: 700 !important;
  }

  #title-box #sub-title {
    padding: 15px 0 25px 0;
    border: 1px solid white;
  }

  #title-box #sub-title span {
    line-height: 1.8;
    margin: 10px 20px;
    font-weight: 100 !important;
  }


  #title-box hr {
    width: 200px;
    border: 20px solid white;
  }
</style>

<div id="title-box" class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h4 id="logo"><a href="#">EarlyBird</a></h4>
      <h1 id="title">Start to Become a Data Scientist.</h1>
      <div id="sub-title" class="col-md-10 col-md-offset-1">
        <h3><span>데이터 사이언스 스터디 2기를 모집합니다.</span></h3>
      </div>
    </div>
  </div>
</div>
