<style>
  #will-be-box h4 {
     width: 100%;
     border-bottom: 1px solid #000;
     line-height: 0.1em;
     margin: 30px 0;
  }

  #will-be-box h4 span {
      background:#fff;
      padding: 10px;
  }
</style>

<div id="will-be-box" class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4><span>데이터 사이언스 스터디 10주 후</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-body">데이터를 다루기 위한 프로그램을 직접 작성할 수 있습니다.</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-body">데이터 사이언스를 심화학습 할 수 있는 기초체력을 갖게 됩니다.</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-body">프로젝트 위주의 학습을 통해 이론을 어떻게 실제로 활용하는지 경험하게 됩니다.</div>
      </div>
    </div>
  </div>
</div>
